arrow==1.2.2
asttokens
backcall
binaryornot==0.4.4
brotlipy==0.7.0
certifi==2022.5.18.1
cffi
charset-normalizer
cloudpickle
colorama
cookiecutter==1.7.3
cryptography
cycler
cytoolz==0.11.2
dask
decorator
executing
fonttools==4.25.0
fsspec
idna
imagecodecs
imageio
ipython
jedi
Jinja2==3.1.2
jinja2-time==0.2.0
joblib
kiwisolver
locket
MarkupSafe
matplotlib
munkres
networkx
numpy
packaging
pandas
parso
partd
pexpect
pickleshare
Pillow
poyo
prompt-toolkit
pssh
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-slugify
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
sip
six
stack-data
text-unidecode
threadpoolctl
tifffile
toolz
torch==1.11.0
torchvision==0.12.0
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
